<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>home</title>
    <head>
        <link href="https://cdn.jsdelivr.net/npm/daisyui@3.9.2/dist/full.css" rel="stylesheet" type="text/css" />

</head>

</head>
<body>
    <div class="card bg-base-100 w-96 shadow-sm">
        <div class="card-body">
          <h2 class="card-title">{{book.name}}</h2>
          <p>{{book.description}}</p>
          <div class="card-actions justify-end">
            <button class="btn btn-primary">{{book.price}}</button>
          </div>
        </div>
      </div>
</body>
</html>