EmpList {
  background-color: rgb(255, 213, 0);
  width: 100vw;
  height: 100vh;
}
employee {
  background-color: aquamarine;
  width: 40%;
  height: 20vh;
  display: flex;
  flex-direction: column;
  margin: 5vh;
}
employee:hover {
  background-color: blueviolet;
  transform: rotate(45deg) scale(1, 0.5);
}
employee > phone {
  margin-left: 10px;
}
address {
  display: felx;
  background-color: antiquewhite;
}
